:root{
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 12px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l) 0 var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.card{
  list-style: none;
  position: relative;
  height: 270px
}

.card:before{
  content: '';
  display: block;
/*  padding-bottom: 150%;*/
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 300ms linear,
    transform 300ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
  filter: brightness(1);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.6) saturate(1) contrast(1) blur(5px);
}
.card-grid:hover > .card:not(:hover) .card__content{
  filter: brightness(0.6) saturate(1) contrast(1) blur(2px);
}
.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.wrapper {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 800px
}

.task-wrap {
  margin: 10px 5px;
  padding: 15px;
  border-radius: 25px;
  text-transform: uppercase;
  display: inline-block;
}


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');


.box {
    display: flex;
    align-items: center;
    user-select: none;
}
.box label {
  font-size: 20px;
  color: #4D4D4D;
  padding-left: 40px;
  margin-left: -30px;
  cursor: pointer;
  z-index: 10
}

.box input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.box input:checked ~.check {
  border-color: #00EA90;
  box-shadow: 0px 0px 0px 15px #00EA90 inset;
}
.box input:checked: ~.check:after {
  opacity: 1;
  transform: scale(1);
}

.check {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 100px;
        background-color: #FFF;
        border: 2px solid #00EA90;
        box-shadow: 0px 0px 0px 0px #00EA90 inset;
        transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.check:after {
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url('http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

