@import-normalize;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: pink
}
.navbar {
  background-color: gold;
  padding: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
:root {
  --bg: #fff;
  --light-pink: #fff0f0;
  --text: #382b22;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
}

* {
  box-sizing: border-box;
}
*:before{
	box-sizing: border-box;
}
*:after{
	box-sizing: border-box;
}
.buttonBox {
  height: 100%;
  margin: 250px auto;
  text-align: center;
}
body {
  font-family: 'Rubik', sans-serif;
  background: var(--bg);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  }
 button.learn-more {
    font-weight: 600;
    color: var(--text);
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: var(--light-pink);
    border: 2px solid var(--pink-border);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 button.learn-more:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--dark-pink);
      border-radius: inherit;
      box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
 button.learn-more:hover {
      background: var(--pink);
      transform: translate(0, 0.25em);
}
 button.learn-more:hover:before {
        box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
        transform: translate3d(0, 0.5em, -1em);
      }
 button.learn-more:active {
      background: var(--pink);
      transform: translate(0em, 0.75em);
}
 button.learn-more:active:before {
        box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
        transform: translate3d(0, 0, -1em);
}



